body {
	overflow-x: hidden;
	padding-top: 60px;

}

nav.navbar {
	background: #141414;
	border: none;
	padding: 20px;
}

div.navbar-header > a.navbar-brand {
	color: #84bd00;
}

div.navbar-header > a.navbar-brand:hover {
	color: #fff;
}

form.navbar-form > a {
	color: #84bd00;
	border: 1px solid #84bd00;
	background: #2b2b2b;
}

form.navbar-form > a:hover {
	background: #84bd00;
	color: #fff;
}

#userPic {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	margin-top: -15px;
}

#login, #favs, #closeModal {
	padding: 10px 20px;
	background: #84bd00;
	border-radius: 20px;
	color: #ecf0f1;
	outline: none;
	margin-left: 5px;
	text-align: center;
	margin-bottom: 5px;
}

div.collapse > ul.nav > li > a {
	color: #84bd00;
}

div.collapse > ul.nav > li > a:hover {
	color: #fff;
}

div.modal-header, div.modal-footer {
	background-color: #2b2b2b;
	color: #84bd00;
	border-bottom: none;
	border-top: none;
}

div.modal-body {
	background-color: #141414;
}

div.modal-body > p {
	color: #ecf0f1;
}

div.jumbotron {
	background: #2b2b2b;
}

div.jumbotron {
	color: #84bd00;
	padding: 70px;
}

div.main {
	display: none;
	height: 100%;
	background: #424242;
}

div.main {
	margin-top: -40px;
	padding-top: 40px;
}

div.left {
	display: none;
}

i.fa.fa-search-plus, i.fa.fa-sort-alpha-asc, i.fa.fa-plus {
	border: 1px solid #2b2b2b;
	border-radius: 50%;
	background: #2b2b2b;
	padding: 30px;
	color: #84bd00;
}

h4#resultHeader {
	text-transform: capitalize;
}

.artistImage {
	height: 100px;
	width: 100px;
	border-radius: 50%;
}

div.panel {
	max-height: 400px;
}

img.thumbnail {
	max-height: 200px;
	width: 80%;
}

.resultIcon {
	margin-bottom: 40px;
}

p.panel-title, div.panel-footer > p, p.tracklist, .favTrigger {
	font-size: 12px;
	color: #84bd00;
}

div.panel-heading, div.panel-body, div.panel-footer, div.panel {
	background: #141414!important;
	border: none!important;
}

a:hover, div.panel-heading > a:hover {
	text-decoration: none!important;
	color: #fff!important;
}










