body {
	overflow-x: hidden;
	padding-top: 60px;
}

nav.navbar {
	background: #141414;
	border: none;
	padding: 20px;
}

div.navbar-header > a.navbar-brand {
	color: #84bd00;
}

div.navbar-header > a.navbar-brand:hover {
	color: #fff;
}

form.navbar-form > a {
	color: #84bd00;
	border: 1px solid #84bd00;
	background: #2b2b2b;
}

form.navbar-form > a:hover {
	background: #84bd00;
	color: #fff;
}

div.collapse > ul.nav > li > a {
	color: #84bd00;
}

div.collapse > ul.nav > li > a:hover {
	color: #fff;
}

div.jumbotron {
	background: #2b2b2b;
}

div.jumbotron {
	color: #84bd00;
}

div.main, div.left {
	height: 100vh;
}




